*{margin: 0px;
    padding: 0px;}


header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    height: 70px;
    width: 1130px;
    padding: 1px;
    border: 1px groove;
    margin-top: 20px;
    margin-left: 130px;
    
     
     
}

a{
    margin-left: 30px;
    color: #211e2b;
    text-decoration: none;
  
}



h1{
    color:  #8e98e9;
    margin-left: 80px;
    
        
}
.logo{
   
 position: absolute;
 margin-right: 950px;
 color:#8b69ff ;
 font-size: 3.26rem;
}

.centro{

    margin-right: 580px;
}
.iconos{
    position: absolute;
    right:  170px;

}
.foto{
    font-size: 1.7rem;
    color: #ec7b00;
}
.punto{
    font-size: 2.1rem;
    color: #fb8d04;
    position: absolute;
    right: 76px;
    bottom: 6px;
}





        
